.title {
  text-align: center;
  height: 80px;
  padding: 10px;
  background-color: cornflowerblue;
  color: white;
}

.add-todo {
  padding: 10px;
  background-color: floralwhite;
}

.add-todo textarea {
  resize: none;
}

.items-list {
  padding: 10px;
  background-color: paleturquoise;
  padding-top: 20px;
}

.footer {
  text-align: center;
  position: fixed;
  bottom: 5px;
}
